 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair:wght@300&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {


     width: 100%;
     overflow: hidden;
     background-color: #f5f5f5;

 }

 @media only screen and (min-width: 150px) {


    div.container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f5f5f5;

    }

    .dsk-back,
    .dsk-front {
        display: none;
    }

    .top-pic {
        background-image: url(Assets/bg-main-mobile.png);
        height: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
    }


    .card1 {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        height: 160px;
    }

    .card1 img {
        width: 240px;
        margin-right: 13px;

    }

    div.card2 img {
        height: 135px;
        width: 250px;
        position: absolute;
        left: 20px;
        top: 105px;
        z-index: 1;
    }

    div.back-num {
        position: absolute;
        color: #f5f5f5;
        z-index: 1;
        top: 88px;
        left: 260px;
        font-size: 11px;
    }

    div.card-number {
        position: absolute;
        color: white;
        z-index: 1;
        padding-left: 34px;
        padding-top: 15px;
        letter-spacing: 3px;

    }

    div.card-name {
        position: absolute;
        color: white;
        z-index: 1;
        padding-left: 35px;
        padding-top: 48px;
        font-size: 13px;
    }

    .frnt-side {
        padding-left: 100px;
        font-size: 10px;
    }

    .Form {
        margin-top: 50px;
        justify-content: center;


    }

    h1 {
        font-size: 12px;
        color: #49414f;
        letter-spacing: 0px;
        line-height: 3;
        text-transform: uppercase;
        font-family: 'Playfair', serif;
    }

    input {
        border: 2px solid rgb(225, 216, 216);

    }

    .inpu-s {
        width: 99%;
        height: 35px;
        border-radius: 7px;
        color: gray;

    }

    .desk-syd {
        display: none;
    }


    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .date {
        /* width: 100%;
        margin: 0 auto; */
    }

    .date-content {
        display: inline-flex;
    }

    .date-cube {
        width: 60px;
        display: inline-block;
        margin: 0px;
        height: 41px;
        border-radius: 7px;
        color: gray;
    }

    .cvc-n {
        display: inline-block;
        margin: 0px 0px 0px 10px;
        height: 41px;
        border-radius: 7px;
        color: grey;
    }

    .cvc-span {
        margin-left: 20px;
    }

    #inp-cvc {
        margin-left: 9px;
    }

    .Confirm-btn {
        height: 50px;
        width: 100%;
        color: white;
        background-color: #220930;
        margin: 15px 15px 15px 0px;
        border-radius: 10px;
        cursor: pointer;
    }
}

/* Mobile to desk */

 @media only screen and (min-width: 320px) {


     div.container {
         width: 90%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         background-color: #f5f5f5;

     }

     .dsk-back,
     .dsk-front {
         display: none;
     }

     .top-pic {
         background-image: url(Assets/bg-main-mobile.png);
         height: 200px;
         background-size: 100%;
         background-repeat: no-repeat;
     }


     .card1 {
         display: flex;
         justify-content: flex-end;
         padding-top: 30px;
         height: 160px;
     }

     .card1 img {
         width: 240px;
         margin-right: 13px;

     }

     div.card2 img {
         height: 135px;
         width: 250px;
         position: absolute;
         left: 20px;
         top: 105px;
         z-index: 1;
     }

     div.back-num {
         position: absolute;
         color: #f5f5f5;
         z-index: 1;
         top: 88px;
         left: 260px;
         font-size: 11px;
     }

     div.card-number {
         position: absolute;
         color: white;
         z-index: 1;
         padding-left: 34px;
         padding-top: 15px;
         letter-spacing: 3px;

     }

     div.card-name {
         position: absolute;
         color: white;
         z-index: 1;
         padding-left: 35px;
         padding-top: 48px;
         font-size: 13px;
     }

     .frnt-side {
         padding-left: 100px;
         font-size: 10px;
     }

     .Form {
         margin-top: 50px;
         justify-content: center;


     }

     h1 {
         font-size: 12px;
         color: #49414f;
         letter-spacing: 0px;
         line-height: 3;
         text-transform: uppercase;
         font-family: 'Playfair', serif;
     }

     input {
         border: 2px solid rgb(225, 216, 216);

     }

     .inpu-s {
         width: 99%;
         height: 35px;
         border-radius: 7px;
         color: gray;

     }

     .desk-syd {
         display: none;
     }


     /* Chrome, Safari, Edge, Opera */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
     }

     /* Firefox */
     input[type=number] {
         -moz-appearance: textfield;
     }

     .date {
         /* width: 100%;
         margin: 0 auto; */
     }

     .date-content {
         display: inline-flex;
     }

     .date-cube {
         width: 60px;
         display: inline-block;
         margin: 0px;
         height: 41px;
         border-radius: 7px;
         color: gray;
     }

     .cvc-n {
         display: inline-block;
         margin: 0px 0px 0px 10px;
         height: 41px;
         border-radius: 7px;
         color: grey;
     }

     .cvc-span {
         margin-left: 20px;
     }

     #inp-cvc {
         margin-left: 9px;
     }

     .Confirm-btn {
         height: 50px;
         width: 100%;
         color: white;
         background-color: #220930;
         margin: 15px 15px 15px 0px;
         border-radius: 10px;
         cursor: pointer;
     }
 }

 @media (min-width:390px) {
     div.card2 img {
         left: 30px;
         top: 105px;
         width: 290px;
         height: 155px;
     }

     div.back-num {
         left: 325px;
     }


     div.card-number {
         letter-spacing: 0;
         word-spacing: 4px;
     }

     .card-name {
         width: 100%;
     }

     .dsk-back,
     .dsk-front {
         display: none;
     }

     .frnt-side {
         padding-left: 144px;

     }

     .date {
         width: 95%;

         font-size: 13px;
         justify-content: space-between;
         display: flex;
     }

     .cvc-span {
         margin-right: 110px;
     }

     .date-cube {
         margin: 0;
         width: 90px;
     }

     div.date-content {
         justify-content: space-evenly;
         display: flex;
     }

     .Confirm-btn {
         width: 98%;
         margin: 15px 0px 0px 4px;
     }

     .desk-syd {
         display: none;
     }

 }

 @media (min-width:480px) {
     /* smartphones, Android phones, landscape iPhone */

     div.date-content {
         display: block;
     }

     .cvc-span {
         margin-right: 165px;
     }

     #inp-cvc {
         margin-left: 15px;
     }

     .cvc-n {

         margin-left: 20px;
         width: 50%;
     }

     .desk-syd {
         display: none;
     }

     .dsk-back,
     .dsk-front {
         display: none;
     }
     .card1 {
        display: block;
        margin-left: 150px;
     }


 }

 @media (min-width:600px) {

     /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
     div.back-num {
         left: 540px;
     }

     #inp-cvc {
         margin-left: 41px;
     }

     .desk-syd {
         display: none;
     }

     .dsk-back,
     .dsk-front {
         display: none;
     }
     .card1 {
        display: block;
        margin-left: 150px;
     }
     div.back-num {
        left: 344px;
      }

 }

 @media (min-width:800px) {

     /* tablet, landscape iPad, lo-res laptops ands desktops */
     div.back-num {
         left: 740px;
     }

     .desk-syd {
         display: none;
     }

     .dsk-back,
     .dsk-front {
         display: none;
     }
     .card1 {
       display: block;
        margin-left: 154px;
      }
      div.back-num {
        left: 347px;
      }

 }

 @media (min-width:1024px) {
     /* big landscape tablets, laptops, and desktops */

     .top-pic {
         display: none;
     }

     div.container {
         display: block;
         float: right;
         width: 100%;
         margin: 0;
     }

     .desk-syd {
         display: block;
         padding: 0;
         width: 320px;
         height: 100vh;
         float: left;
     }

     .syd-pic {
         width: 350px;
         height: 100vh;
     }

     .dsk-back,
     .dsk-front {
         display: flex;
         width: 250px;
         position: absolute;
     }

     .dsk-back {
         top: 370px;
         left: 145px;
         border: 3px 5px solid black;
     }

     .dsk-front {
         top: 150px;
         left: 72px;

     }

     .frnt-dsk,
     .back-dsk {
         width: 350px;
     }

     div.back-num {
         left: 248px;
         top: 75px;

     }

     div.card-name {
         padding-top: 120px;
     }

     div.card-number {
         padding-top: 90px;
     }


     .Form {
         margin-top: 158px;
         /* width: 40%; */
         float: right;
         margin-right: 90px;
         width: 327px;
         line-height: 50px;

     }

     #inp-cvc {
         margin-left: 21px;
     }

     .cvc-span {
         margin-right: 124px;
     }

     .date {
         width: 103%;
     }

     .date-cube {
         width: 70px;

     }

     .yr-cube {
         margin-left: 15px;
     }

     .cvc-n {
         margin-left: 20px;
         width: 41%;
     }
 }
 @media (min-width:1200px) {
      .Form {
        width: 332px;
        margin-right: 280px;
      }
 }

 @media (min-width:1279px) {

     /* hi-res laptops and desktops */
     .desk-syd {
         width: 350px;
     }

     .syd-pic {
         width: 400px;
         height: 100vh;
     }

     .dsk-front {
         top: 150px;
         left: 166px;
     }

     .dsk-back {
         top: 370px;
         left: 239px;

     }


     div.back-num {
         left: 287px;
         top: 89px;
         font-size: 13px;
     }

     div.card-number {
         padding-top: 91px;
         font-size: 23px;
         width: 400px;
     }

     div.card-name {
         padding-top: 140px;
         width: 300px;
     }

     .Form {
         margin-top: 200px;
         margin-right: 250px;
         width: 327px;
         line-height: 50px;
     }

     #inp-cvc {
         margin-left: 0px;
     }

     .date {
         width: 103%;

     }
 }
 @media (min-width:1500px) {
    
        .Form {
            margin-right: 461px;
    }
    div.card-name {
        padding-top: 151px;
        width: 300px;
      }
 }

 
